/* Google fonts including are */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Protest+Strike & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;700&display=swap');
/* 
? Google fonts usage area

*Regular type:
font-family: 'Josefin Sans', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Protest Strike', sans-serif;
font-family: 'Changa', sans-serif;

*İtalic type:
font-family: 'Pacifico', cursive;
font-family: 'Satisfy', cursive;
*Monospace type:
font-family: 'Ubuntu Mono', monospace;

font-family: NeueHaas, "Helvetica Neue", Helvetica, Arial, sans-serif;
*/