.services
{
    font-family: 'Protest Strike', sans-serif;  
    display: flex;
    text-align: center;
    background-color: #282828;
    margin: 50px;
}

.services h1.title
{
color: gray;
font-family: 'Protest Strike', sans-serif;
font-size: 35px;
display: flex;
position: absolute;
}

.services h1.title p{
    font-size: 20px;
    color: gray;
    font-family: 'Protest Strike', sans-serif;
    margin: 40px 60px 60px 50px ;
}
.services h2.title{
    font-family: 'Changa', sans-serif;
    color: gray;
    position: absolute;
    left: 45%;
    font-size: 40px;
    top: 15%;
}
.services .serviceMaintenance{
    margin: 80px 10px 50px 40px ;
    padding: 20px 30px ;
    background-color:	#00bfff;
    border-radius:10px 30px 20px 20px;
}
.services .serviceProcessing{
    margin: 80px 10px 50px 40px ;
    padding: 20px 30px ;
    background-color:	#00bfff;
    border-radius:10px 30px 20px 20px;
}    
.services .panelConstruction{
    margin: 80px 10px 50px 40px ;
    padding: 20px 30px ;
    background-color:	#00bfff;
    border-radius:10px 30px 20px 20px;
}
.services h3{
    color: 	#800000;
    font-family: 'Changa', sans-serif;
    font-size: 25px;
}
.services .serviceMaintenance p,.serviceProcessing p,.panelConstruction p{
    color: #800080;
    font-family: 'Changa', sans-serif;
}